table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

thead {
  border-bottom: 1px solid #ccc;
}

tr {
  border-bottom: 1px solid #ccc;
}

td {
  text-align: center;
  padding: 3px 50px;
}

.highlight {
  background-color: #f1f1f1;
}
